.error-mssg {
    margin-top: 14px;
}

.show-border {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 6px 14px;
}

.show-border:hover {
    border-color: black;
}

.error-border {
    border: 1px solid #d32f2f;
}

.align-center {
    display: flex;
    justify-content: center;
}

.show-vertical {
    display: flex;
    flex-direction: column;
}

.MuiFormControlLabel-root .MuiFormControlLabel-label {
    margin-top: 1px;
}

.MuiFormControlLabel-root:first-child {
    margin-right: 1rem;
}

.MuiFormControlLabel-root:last-child {
    margin-left: 1rem;
    margin-right: 0;
}
