node_modules
.DS_Store
dist
dist-ssr
*.local
*.log
.yarn/cache
.yarn/install-state.gz

# Firebase Emulators Data
emulators_data
firebase-export-*
.firebase

src/components/InputFields/AutoCompleteInputField
src/components/InputFields/NumberInputField
