#add-new-topic-page {
    .separator {
        margin: 0 20px;
        margin-bottom: 30px;
    }

    form {
        background-color: #fff;
        margin: 0 20px;
        padding: 10px;
        border-radius: 15px;
    }
}
