#add-new-topic-page {
    form {
        border-radius: 15px;
        margin-top: 3rem;

        // Subject Input Field
        & > div:first-child {
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 50px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        }

        // Candidate Input Field
        & > div:nth-child(2) {
            background-color: #fff;
            padding: 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 50px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        }

        // Add Candidate Button
        & > div:nth-child(3) {
            background-color: #fff;
            padding: 20px;
            padding-top: 10px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
        }

        // Submit Button
        & > div:nth-last-child(2) {
            padding: 0px;
            margin: 30px 0;
            margin-top: 50px;
        }

        // Reset Button
        & > div:last-child {
            padding: 0px;
            margin: 30px 0;
        }

        .add-new-subject__info {
            text-align: center;
            font-size: 0.75rem;
            margin-top: 20px;
            padding-right: 10px;
            padding-left: 10px;
            color: #ff3c3c;
        }

        .candidates-list {
            font-family: 'Bad Script';
            text-align: center;
            font-size: 1.5rem;
            color: #ff3c3c;
        }
    }
}
