#add-new-topic-page {
    .separator {
        margin: 0 20px;
        margin-bottom: 30px;
    }

    form {
        margin: 0 10px;
        padding: 10px;
        border-radius: 15px;

        & > div:first-child {
            background-color: #fff;
            padding: 20px;
            border-radius: 15px;
            margin-bottom: 50px;
        }

        & > div:nth-child(2) {
            background-color: #fff;
            padding: 20px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            margin-top: 50px;
        }

        & > div:nth-child(3) {
            background-color: #fff;
            padding: 20px;
            padding-top: 10px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }

        & > div:last-child {
            padding: 0px;
            margin: 30px 0;
            margin-top: 50px;
        }

        .candidates-list {
            font-family: 'Bad Script';
            text-align: center;
            font-size: 1.5rem;
            color: #ff3c3c;
        }
    }
}
