.pagination-content__container {
    min-height: 96px;
}

.pagination-content__loading {
    height: 80px !important;
    margin-bottom: 10px;
}

.error-view__container {
    padding: 0 !important;
}
