.page-title {
    font-size: 1.5rem;
    font-family: 'Bad Script';
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    color: #ff3c3c;
    white-space: nowrap;
}
