.votesub-logo-container {
    display: flex;
    justify-content: center;
    cursor: pointer;

    img {
        width: 100%;
    }
}

@media (min-width: 600px) {
    .votesub-logo-container {
        justify-content: flex-end;
        align-items: flex-end;
    }
}
