#registration-page {
    background-color: #fff;
    height: 100vh;

    .separator {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .role-container {
        display: flex;
        flex-direction: column;
    }

    .radio-buttons-container {
        .radio-button {
            display: flex;
            justify-content: center;
            height: 56px;
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            width: 100%;
        }
    }
}
