// #registration-page {
//     height: 100vh;

//     .role-container {
//         display: flex;
//         flex-direction: column;
//     }

//     .radio-buttons-container {
//         .radio-button {
//             display: flex;
//             justify-content: center;
//             height: 56px;
//             border: 1px solid #c4c4c4;
//             border-radius: 5px;
//             width: 100%;
//         }
//     }
// }

#registration-page {
    margin: 0 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .votesub-logo-container {
        margin-top: 2rem;
        min-width: 18rem;
        width: 95%;
    }

    .votesub-caption-container {
        margin-top: 1.5rem;
        min-width: 12rem;
        width: 70%;
    }

    .registration-page__form {
        margin-top: 3rem;
        padding: 10px;
        width: 100%;
        min-width: 18rem;
        background-color: #fff;
        border-radius: 15px;
    }
}

/* ------------------------ Larger Phones or Phablets ----------------------- */
@media only screen and (min-width: 481px) {
    #registration-page {
        .votesub-logo-container {
            width: 50%;
        }

        .votesub-caption-container {
            width: 35%;
            margin-top: 1rem;
        }

        .registration-page__form {
            width: 60%;
            min-width: 350px;
        }
    }
}

/* ------------------------ Tablets and iPads ----------------------- */
@media only screen and (min-width: 768px) {
    #registration-page {
        .votesub-logo-container {
            width: 50%;
        }

        .votesub-caption-container {
            width: 35%;
            margin-top: 1rem;
        }

        .registration-page__form {
            width: 60%;
            min-width: 350px;
            max-width: 450px;
        }
    }
}

/* ------------------------- Desktops, Large Screens ------------------------ */
@media only screen and (min-width: 960px) {
    #registration-page {
        height: 100vh;
        display: grid;
        grid-template-areas:
            'logo form'
            'caption form';

        column-gap: 10rem;
        align-content: center;
        place-items: center;

        .votesub-logo-container {
            grid-area: logo;
            width: 25rem;
            justify-self: center;
            align-self: end;
        }

        .votesub-caption-container {
            grid-area: caption;
            justify-self: center;
            align-self: start;
            width: 15rem;
        }

        .registration-page__form {
            grid-area: form;
            width: 350px;
        }
    }
}
