#registration-page {
  h1 {
    margin-left: 10px;
    margin-bottom: 0;
    font-family: 'Nunito Sans';
    font-weight: 400;
  }

  hr {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
