.voting-subject-container {
    box-sizing: border-box;
    margin: 0 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    min-height: 80px;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

    &:hover {
        border: 1px solid #37474f;
    }

    .sect-1,
    .sect-2,
    .sect-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sect-1 > span:first-child,
    .sect-2 > span:first-child,
    .sect-3 > span:first-child {
        font-size: 1rem;
    }

    .sect-1 > span:last-child,
    .sect-2 > span:last-child,
    .sect-3 > span:last-child {
        font-size: 10px;
    }

    .total-votes-title {
        text-align: center;
    }

    .sect-2 {
        .name {
            text-align: center;
            padding: 0 8px;
        }
    }

    .sect-3 {
        min-width: 50px;
    }
}

.loading-screen-container {
    // NOTE
    /*  
        I know, it is not good a practice to use !important. 
        Always use CSS specificity rules. But they way I implement
        my LoadingScreen component's logic, I think this is the best
        way for now. 
    */
    height: 80px !important;
    margin-bottom: 20px;
}
