.voting-subject-container {
    min-width: 310px;
    box-sizing: border-box;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    min-height: 80px;
    padding: 0 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    cursor: pointer;

    .sect-1,
    .sect-2,
    .sect-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sect-1 > span:first-child,
    .sect-2 > span:first-child,
    .sect-3 > span:first-child {
        font-size: 1rem;
    }

    .sect-1 > span:last-child,
    .sect-2 > span:last-child,
    .sect-3 > span:last-child {
        font-size: 10px;
    }

    .total-votes-title {
        text-align: center;
    }

    .sect-1 {
        min-width: 40px;
    }

    .sect-2 {
        .voting-subject__name {
            text-align: center;
            padding: 0 8px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .sect-3 {
        min-width: 50px;
    }
}

.voting-subject__loading {
    min-height: 80px;
}
