.user-voting-history-page {
    .voting-history-container:last-child {
        .separator-container {
            display: none;
        }
    }

    .error-container {
        padding: 0;
        margin-top: 3rem;
    }

    .dashboard-link {
        background-color: #fff;
        height: 50px;
        padding: 0 10px;
        margin-top: 20px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);

        a {
            color: #2979ff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .MuiAlert-message {
        text-align: justify;
    }
}
