.user-voting-history-page {
    padding-bottom: 50px;

    .page-view {
        padding: 20px;
    }

    .separator-container {
        margin-bottom: 50px;
        .separator {
            margin: 0;
        }
    }

    .voting-history-container:last-child {
        .separator-container {
            display: none;
        }
    }
}
