#login-page {
    margin: 0 2rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .votesub-logo-container {
        margin-top: 2rem;
        min-width: 18rem;
        width: 95%;
    }

    .votesub-caption-container {
        margin-top: 1.5rem;
        min-width: 12rem;
        width: 70%;
    }

    .login-page__form {
        margin-top: 3rem;
        padding: 10px;
        width: 100%;
        min-width: 18rem;
        background-color: #fff;
        border-radius: 15px;
    }

    .login-page__forgot {
        margin-top: 15px;
        margin-bottom: 25px;
        color: #1976d2;
        margin-left: 10px;
    }

    .login-page__register {
        margin-left: 10px;
        margin-right: 10px;
    }

    .register-link {
        color: #2f7d32;
    }

    .login-page__forgot,
    .register-link {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }

    .separator {
        margin: 0 10px;
    }

    .login-page__footer {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p:first-child {
            font-size: 0.9rem;
        }

        .name {
            background-color: #fff;
            padding: 10px;
            border-radius: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }

        .github a {
            color: black;
        }
    }
}

/* ------------------------ Larger Phones or Phablets ----------------------- */
@media only screen and (min-width: 481px) {
    #login-page {
        .votesub-logo-container {
            width: 50%;
        }

        .votesub-caption-container {
            width: 35%;
            margin-top: 1rem;
        }

        .login-page__form {
            width: 60%;
            min-width: 350px;
        }
    }
}

/* ------------------------ Tablets and iPads ----------------------- */
@media only screen and (min-width: 768px) {
    #login-page {
        .votesub-logo-container {
            width: 50%;
        }

        .votesub-caption-container {
            width: 35%;
            margin-top: 1rem;
        }

        .login-page__form {
            width: 60%;
            min-width: 350px;
            max-width: 450px;
        }
    }
}

/* ------------------------- Desktops, Large Screens ------------------------ */
@media only screen and (min-width: 960px) {
    #login-page {
        margin-top: 2rem;
        height: calc(100vh - 2px);
        padding-bottom: 0;
        display: grid;
        grid-template-areas:
            'logo form'
            'caption form';
        column-gap: 10rem;
        place-items: center;

        .votesub-logo-container {
            grid-area: logo;
            width: 25rem;
            justify-self: center;
            align-self: end;
            position: relative;
            top: 23px;
        }

        .votesub-caption-container {
            grid-area: caption;
            justify-self: center;
            align-self: start;
            width: 15rem;
            position: relative;
            top: 23px;
        }

        .login-page__form {
            grid-area: form;
            width: 350px;
        }

        // TODO: find another design to promote yourself
        .login-page__footer {
            position: relative;
            left: 50%;
            bottom: 0px;
            transform: translate(50%, 50%);
        }
    }
}
