#login-page {
    height: 100vh;
    background-color: #e5e5e5;

    p {
        font-size: 12px;
        margin-left: 10px;
    }

    .login-button {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .register-link {
        color: #2f7d32;
    }

    .login-page__form {
        background-color: #fff;
        border-radius: 15px;
    }

    .login-page__footer {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .name {
            background-color: #fff;
            padding: 10px;
            border-radius: 15px;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

@media (min-width: 600px) {
    #login-page {
        background-color: #e5e5e5;
        margin: 0 auto;
        padding: 50px 0;
        display: grid;
        grid-template-areas:
            'logo form'
            'caption form'
            'footer footer';

        .votesub-logo-container {
            padding-bottom: 10px;
            grid-area: logo;
            align-self: flex-end;
            justify-self: end;
            justify-content: end;
        }

        .votesub-caption-container {
            height: 4rem;
            grid-area: caption;
            justify-self: end;
            justify-content: end;
        }

        .footer {
            grid-area: footer;
        }

        // .votesub-caption {
        //     width: 75%;
        // }

        form {
            width: 350px;
            height: fit-content;
            margin-left: 100px;
            padding: 20px;
            background-color: #fff;
            border-radius: 30px;
            grid-area: form;
            justify-self: flex-start;
            align-self: center;
        }
    }
}
