#login-page {
    background-color: #fff;
    p {
        font-size: 12px;
        margin-left: 10px;
    }

    .login-button {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .register-link {
        color: #2f7d32;
    }
}

@media (min-width: 600px) {
    #login-page {
        background-color: #e5e5e5;

        #votesub-logo {
            width: 60%;
            max-width: 350px;
            margin: auto auto;
        }

        #votesub-caption {
            width: 60%;
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 50px;
        }

        form {
            width: 60%;
            max-width: 400px;
            margin: 0 auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 30px;
            margin-bottom: 100px;
        }
    }
}
