#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    ul {
        width: 60%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height: 100vh;
        background-color: #fff;
        margin-block: 0;
        padding: 0;
        padding-top: 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .separator {
            margin: 0 5px;
        }

        .close-sidebar-icon {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 10px;
            padding-right: 10px;
        }

        li {
            padding-left: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
        }
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
    }

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            margin-left: 20px;
        }
    }
}
