#sidebar {
    position: absolute;
    top: 65px;
    z-index: 100;
    height: calc(100vh - 60px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    ul {
        width: 80%;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        height: calc(100vh - 60px);
        background-color: #fff;
        margin-block: 0;
        padding: 0;
        padding-top: 10px;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .separator {
            margin: 0 5px;
        }

        li {
            padding-left: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            height: 50px;
        }
    }

    a,
    a:hover,
    a:focus,
    a:active {
        text-decoration: none;
        color: inherit;
        font-size: 1.2rem;
    }

    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        span {
            margin-left: 20px;
        }
    }
}
