.pagination-header__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3rem;

    div {
        background-color: #fff;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        height: 20px;
    }

    & > div {
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    & > div:first-child {
        margin-right: auto;
        width: fit-content;

        .MuiSelect-select {
            padding: 5px 20px;
        }
    }

    & > div:nth-child(2)
    // & > div:nth-child(3)
    {
        margin-right: 10px;
    }

    //  Select elements from far right link array -1
    & > div:nth-last-child(-n + 2) {
        cursor: pointer;
        width: 20px;
    }

    & > div:first-child,
    & > div:nth-child(2),
    & > div:nth-last-child(-n + 2) {
        &:hover {
            outline: 1px solid #1266f1;
        }
    }

    .per-page-selector {
        margin-left: 10px;

        fieldset {
            display: none;
        }
    }

    .MuiFormControl-root {
        width: 50px;
    }
}
