/* Nunito Sans */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap'); */

/* Bad Script */
/* @import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap'); */

.app {
    height: 100vh;
}

.page-view {
    padding: 30px 20px;
}

@media screen and (min-width: 600px) {
    .page-view {
        max-width: 500px;
        margin: 0 auto;
    }
}

.MuiList-root {
    max-height: 350px;
}

.MuiMenuItem-root p {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.MuiMenuItem-root p .profile-menu-icon {
    margin-right: 10px;
}

.MuiFormHelperText-root {
    min-height: 20px;
}
