@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.app {
    height: 100vh;
}

.page-view {
    padding: 30px 20px;
}

@media screen and (min-width: 600px) {
    .page-view {
        max-width: 500px;
        margin: 0 auto;
    }
}

/* .reg-form {
    background-color: #e5e5e5;
    padding-bottom: 75px;
}

.reg-form .votesub-logo {
    padding-top: 30px;
    width: 80%;
    margin-bottom: 10px;
}

.reg-form .votesub-caption {
    width: 60%;
}

.reg-form .page-title {
    font-size: 1.6rem;
}

.reg-form form {
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
} */

/* @media (min-width: 600px) {
    .reg-form {
        background-color: #e5e5e5;
        padding-bottom: 0;
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            'logo form'
            'caption form';
    }

    .reg-form .votesub-logo-container {
        padding-bottom: 10px;
        grid-area: logo;
        align-self: flex-end;
        justify-self: end;
        justify-content: end;
        cursor: pointer;
    }

    .reg-form .votesub-caption-container {
        height: 4rem;
        grid-area: caption;
        justify-self: end;
        justify-content: end;
    }

    .reg-form .votesub-caption {
        width: 75%;
    }

    .reg-form .page-title {
        grid-area: title;
    }

    .reg-form form {
        width: 350px;
        height: fit-content;
        margin-left: 100px;
        padding: 20px;
        background-color: #fff;
        border-radius: 30px;
        grid-area: form;
        justify-self: flex-start;
        align-self: center;
    }
} */

.MuiList-root {
    max-height: 350px;
}

.MuiMenuItem-root p {
    margin: 0;
    display: flex;
    justify-content: space-around;
}

.MuiMenuItem-root p .profile-menu-icon {
    margin-right: 10px;
}
