.subject-page-container {
    .subject-title {
        margin: 2rem 0;
        font-weight: 400;
        text-align: center;
        word-wrap: break-word;
    }

    .about-container {
        display: grid;
        grid-template-areas:
            'submitter total-votes'
            'creation-date total-votes';
        margin: 2rem 0;
        padding: 15px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    }

    .submitter {
        grid-area: submitter;
        padding: 10px;
        margin-top: auto;
        border-radius: 5px;
        width: fit-content;
    }

    .creation-date {
        grid-area: creation-date;
        padding: 10px;
        border-radius: 5px;
        margin-top: auto;
        margin-bottom: 0;
        width: fit-content;
    }

    .about-container .total-votes {
        grid-area: total-votes;
        padding: 10px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        border: 2px solid #c4c4c4;
        width: fit-content;
        justify-self: end;

        .votes-counter {
            font-size: 2.5rem;
        }

        .votes-name {
            padding-top: 5px;
            text-align: center;
        }
    }

    .submitter,
    .creation-date,
    .votes-name {
        font-size: 14px;
    }

    .separator {
        margin: 0;
    }

    .candidates-container {
        margin-top: 30px;

        .candidates-title {
            font-family: 'Bad Script';
            text-align: center;
            font-size: 1.5rem;
            color: #ff3c3c;
        }
    }
}
