.backdrop-mssg-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    min-width: 250px;
    border-radius: 15px;
    background-color: #fff;

    .backdrop-header {
        text-align: center;
    }

    .backdrop-mssg {
        margin: 0 20px;
        font-size: 1rem;
    }

    .backdrop-footer {
        margin-top: 2rem;
        font-size: 0.9rem;
    }

    .blink-it {
        animation: blinker 2s linear infinite;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    // Credit - Lee Porter (https://codepen.io/elevaunt/pen/JYRBzJ)
    svg {
        width: 100px;
        display: block;
    }

    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
            -webkit-animation: dash 0.9s ease-in-out;
            animation: dash 0.9s ease-in-out;
        }
        &.line {
            stroke-dashoffset: 1000;
            -webkit-animation: dash 0.9s 0.35s ease-in-out forwards;
            animation: dash 0.9s 0.35s ease-in-out forwards;
        }
        &.check {
            stroke-dashoffset: -100;
            -webkit-animation: dash-check 0.9s 0.35s ease-in-out forwards;
            animation: dash-check 0.9s 0.35s ease-in-out forwards;
        }
    }

    p {
        text-align: center;
        // margin: 20px 0 60px;
        font-size: 1.25em;
        &.success {
            color: #73af55;
        }
        &.error {
            color: #d06079;
        }
    }

    @-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }
        100% {
            stroke-dashoffset: 0;
        }
    }

    @-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }

    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }
        100% {
            stroke-dashoffset: 900;
        }
    }
    // Credit End
}

@media (min-width: 600px) {
    .backdrop-mssg-container {
        max-width: 300px;
    }
}
