.slider-input-field {
    .slider-input-container {
        padding: 20px;
    }

    .show-border {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
    }

    .MuiSlider-root {
        color: #6200ea;
    }
}
